= render 'layouts/header'
.container.content
  .form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        %label= f.label :email
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group
        %label= f.label :password
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      - if devise_mapping.rememberable?
        %div
          = f.check_box :remember_me
          = f.label :remember_me
      %span= f.submit "Sign in", class: 'btn btn-success'
      %span= link_to "Cancel", posts_path, class: 'btn btn-default'
      %br
      %br
    = render "devise/shared/links"