= form_for @post do |f|
  .form-group
    %label= f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    %label= f.label :body
    = f.text_area :body, class: 'form-control'
  = f.hidden_field :user_id, value: current_user.id
  %p= f.submit class: 'btn btn-default'