= link_to 'Create new blog post', new_post_path

%table
  - @posts.each do |post|
    %tr
      %td
        %h3= link_to post.title, post_path(post)
        %small Posted by #{post.user.author} on #{post.post_date}
        %p=post.body
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Delete', post_path(post), method: :delete, data: {confirm: 'Are you sure you want to delete this post?'}
