!!!
%html
  %head
    %title MyBlog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    - if user_signed_in?
      %p
        %span= "You are signed in as #{current_user.email}"
        %span= link_to 'Sign out', destroy_user_session_path, method: :delete
    - else
      %p
        %span= link_to "Sign In", new_user_session_path

    = yield